body{
        display: flex;
        justify-content: center;
}


.container{
        width: 500px;
        height: 100px;
        text-align: center;
}
button{
        width: 100px;
        height: 30px;
        border: none;
        background-color: black;
        color: white;
        font-size: 15px;
        border-radius: 100px;
        transition: 0.5s all ease;
}
button:hover{
        border: 1px solid black;
        color: black;
        background-color: white;
}

#display{
        font-size: 35px;
        margin-bottom: 5%;
        margin-top: 5%;
        font-weight: bold;

}